body {
    background-color: #fab472;
}

.aside>* {
    width: 457px;
    height: 200px;
}

.aside {
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
}

.weather {
    flex-direction: column;
    background-color: white;
}
.weather h1{
    text-align: center;
}

.table-location {
    background-color: skyblue;
}

.main-layout {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.search-input {
    margin-inline-start: 57vw;
    background-color: lightgray;
    border: 1px solid blue;
    color:white;
    height: 30px;
}
body h1,h2{
    display: inline;
}
thead{
    background-color: lightgray;
}
button{
    cursor: pointer;
    background-color: gray;
    color: white;
    border: 1px solid blue;
    height: 34px;
}
.copy-loc{
    margin-inline-start: 67vw;
}
.main-nav {
    align-items: center;
}
.weather >* :not(:first-child){
    display: inline;
}
.currWeather{
    color: skyblue;
}