body {
    /* background-color: #fab472; */
}



.aside {
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
    
}

.weather {
    flex-direction: column;
    background-color:  rgb(96, 109, 121);
    width: 457px;
    height: 200px;
}
.weather h1{
    text-align: center;
}

.table-location {
    background-color: skyblue;
    width: 457px;
    
}

.main-layout {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.search-input {
    margin-inline-start: 57vw;
    background-color: lightgray;
    border: 1px solid blue;
    color:white;
    height: 30px;
}
body h1,h2{
    display: inline;
}
thead{
    background-color: lightgray;
}
button{
    cursor: pointer;
    background-color: gray;
    color: rgb(255, 255, 255);
    border: 1px solid blue;
    height: 34px;
}
.copy-loc{
    margin-inline-start: 67vw;
}
.main-nav {
    align-items: center;
}
.weather >* :not(:first-child){
    align-items: center;
}
.currWeather{
    color: skyblue;
}
.main-weather{
    color: #fab472;
}
.country{
    color: #fab472;
}
.temp{
    background-color: grey;
    width: 10px;
    height: 5px;
    border-radius: 40%;
}
.main-nav{
    background-color: darkblue;
    color: white;
}